<%= form_for(@person) do |f| %> 
<%= link_to "New Boat", new_boat_path(:member_id => @person.member_id) , :class => "btn btn-primary" %>
<table class="listing">
  <tr><th>Boat Name</th><th>Boat Type</th><th>Class</th><th>Sail #</th><th>Pen Tag</th><th>Action</th>
    <% @person.member.boats.each do |boat| @boat = boat  %>
	  <%= render :partial => 'boats' , :locals => {:person_id => @person.id } %> 
	<% end %></tr>
</table>
<% end %>