

<tr class="<%= cycle('odd', 'even') %>">

	<% @pid = (params[:pid])%>
	
<td><%= link_to 'Edit',{ :controller => 'boats', :action => 'edit', :id => @b.id, :pid => @pid}  %></td>

<td><%= @b.boat_type  %></td>
<td><%= @b.boat_class  %></td>
<td><%= @b.sail_number  %></td>
<td><%= @b.pen_tag  %></td>
<td><%= link_to 'Delete', @b, :confirm => 'Are you sure?', :method => :delete ,:id => @b.id, :pid => @pid %></td>

	