
 <h2>Interface to Bar System  <br> 
<br></h2><br/>


	<h3> hit the button to create extract</h3>


<%= form_tag({ :action => :bar_interface })  %> 

        <%= submit_tag 'Export CSV file' -%>






