
 <h2>list of people for all communications system <br> 
<br></h2><br/>


	<h3> your file is ready for download, hit the button..</h3>




<%= form_tag({ :action => :comms_csv })  %> 

<%= submit_tag 'Export CSV file' -%>



