
<%= form_tag :action => 'update', :id => @person.id, :mid => @person.member.id, :method => 'post' do %>


<h2>Editing Member Details</h2>

<fieldset>
  <div class="row">
    <label>Surname</label>
    <input type="text" name="last_name" value="<%= @person.last_name %>" >
  </div>
  <div class="row">
    <label>First Name</label>
    <input type="text" name="first_name" value="<%= @person.first_name %>" >
  </div>
</fieldset>
<a class="whiteButton" type="submit" href="#">Login</a>

 <div class="whiteButton" >
 	
  <%= submit_tag 'Save Changes' %><br/>
  </div> 
  
<% end %> 



