<div class="col-md-11">
  <%= render 'people_search' %>
</div>
<div class="page-header">
  <%= link_to new_member_path, :class => 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    New Membership
  <% end %>
  
</div>


<div class="col-md-11">
  <div class="">
    <div id="people"> <%= render 'people' %> </div>
  </div>
</div>

