<%#
# To change this template, choose Tools | Templates
# and open the template in the editor.
%>

<%= "Person overdue" %><br><br>

Membership paid after <%=@lapsed_date%> but not paid this year <br />
<br />
Number overdue <%= @p.size%> <br>
Number with emails <%= @pe.size %><br>
<br>

<% c = 1 %>
<% @pe.each do |m|%>
    <%= c %>&nbsp;&nbsp;<%=  m %><br>
    <% c+= 1%>
 <% end %>
