/* 
    Document   : lettersStyleSheet
    Created on : 24-May-2008, 20:04:55
    Author     : robin
    Description:
        Purpose of the stylesheet follows.
*/

 @page {
    margin: 40pt 30pt 40pt 30pt;
}



.page {

    width: 18cm;
    
}

.main {
    
    margin-left: 2cm;
    clear: none;
}

br.clear {
    clear: both;
}

.bar_billy{

    border-top-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-right-style: solid;
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-right-width: 1px;
    border-top-color: black;
    border-bottom-color: black;
    border-left-color: black;
    border-right-color: black;
}

.bb_left{

    vertical-align: top;
    text-align: left;
    width: 45%;
    font-size: small;
}

.bb_right{

    vertical-align: top;
    text-align: right;
    width: 55%;
}

.park_permit{

    border-top-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-right-style: solid;
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-right-width: 1px;
    border-top-color: black;
    border-bottom-color: black;
    border-left-color: black;
    border-right-color: black;
}


.pp_left{

    vertical-align: top;
    text-align: left;
    width: 45%;
    font-size: small;
}

.pp_right{

    vertical-align: top;
    text-align: right;
    width: 55%;
    font-size: small;
}

.page_top {

   
}

.columns {
 	
    clear: both;
    
}
 
 .left_col {
    float: left;
    color: black;
    
    width: 45%;
    
}

.right_col {
    float: right;
    color: black;
    width: 45%;
    
}

.left_top {
 	
    float: left;
    color: black;
    
    width: 35%;
   
    
}

.right_top {
 	
    float: right;
    color: black;
    width: 55%;
  
    font-family: 'Times New Roman',Times,serif;
    text-align: center;
    font-size: 14pt;
    
    
}

.vlarge{

    font-family: Arial,Helvetica,sans-serif;
    font-size: 22pt;
    font-weight: bold;
}

.myc_name {

    font-size: 26pt;
    font-weight: bold;
}

.myc_phone {

    font-size: small;
}

.myc_date {

    font-weight: bold;
}

.notvalid {

    font-size: X-small;
}



table.listing,
.stx table {
/* */
border-collapse: collapse;
border-left: 1px solid #8cacbb;
border-bottom: 1px solid #8cacbb;
font-size: 90%;
margin: 1em 0em 1em 0em;
}
table.listing th,
.stx table th {
background: #dee7ec;
border-top: 1px solid #8cacbb;
border-bottom: 1px solid #8cacbb;
border-right: 1px solid #8cacbb;
font-weight: bold;
padding: 0.25em 0.5em;
text-transform: none;
}
table.listing .top {
border-left: 1px solid White;
border-top: 1px solid White ! important;
border-right: 1px solid White ! important;
text-align: right ! important;
padding: 0em 0em 1em 0em;
}
table.listing .listingCheckbox {
text-align: center;
}
table.listing td,
.stx table td {
border-right: 1px solid #8cacbb;
padding: 0.25em 0.5em;
}
table.listing a {
text-decoration: none;
}
table.listing a:hover {
text-decoration: underline;
}
table.listing img {
vertical-align: middle;
}
table.listing td a label,
.stx table td a label {
cursor: pointer;
}
table.listing .even {
background-color: #eef3f5;
}

table.listing .odd {
background-color: transparent;
}
table.listing .caption {
caption-side: bottom; 
width: auto;
text-align: left 
}


















