body {
font-family: Baskerville, Georgia, Garamond, Times, serif;
font-size: 10pt !important;
}
h1, h2, h3, h4, h5, h6 {
border: none;
font-family: Baskerville, Georgia, Garamond, Times, serif;
}
div, p, ul, dl, ol {
width: auto;
}
ul, ol, dl {
padding-right: 0.5em;
}
ul {
list-style-type: square;
}
.documentDescription {
font-weight: bold;
}
pre {
border: 1pt dotted black;
white-space: pre;
font-size: 8pt;
overflow: auto;
padding: 1em 0;
}
table.listing,
table.listing td {
border: 1pt solid black;
border-collapse: collapse;
}
a {
color: Black !important;
padding: 0 !important;
text-decoration: none !important;
}
a:link, a:visited {
color: #520;
background: transparent;
}

/* Page break class for use when printing */
 div.pageBreak {
page-break-before: always;
}

div.group {
	page-break-inside: avoid;
}

/* Uncomment these to get link addresses inserted along with the link text
when you print.
#content a:link:after,
#content a:visited:after {
content: " [" attr(href) "] ";
}
*/

/* Hide all the elements that are irrelevant for printing */
div
.noprint,
.banner,
.framecontentLeft,
.framecontentRight {
display: none;
}

#header, .noprint {display: none; }

