<h1>Editing barcard</h1>
<%= form_tag :action => 'update'  do %>
<%= form_for(@barcard) do |f| %>
	here
<%= render :partial => "form", :locals => { :button_label => "Update", :barcard => @barcard, :person_id => @person.id ,:member_id => @person.member_id } %> 
  

	 <%= render :partial => 'shared/button_cancel' %> 
<% end %>
<% end %>




