<h1>New Barcard</h1>

<% @pid = (params[:pid])%>

<%= link_to person_path(@pid) + '#tabs-6', :class => 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>


<h3> A new barcard number will be assigned to this person Please be certain this is what you intend to do !

	<br> <br><br>
	The current Barcard will be removed from this user.
</h3>

<%=# render :partial => "formNew", :locals => { :button_label => "Create", :barcard => @barcard , :mid=> @mid  }
%>

<%= render :partial => "form", :locals => { :button_label => "Create",:peoplebarcard => @peoplebarcard, :barcard => @barcard , :pid=> @pid  }
 %>
