

<tr class="<%= cycle('odd', 'even') %>">

	
<td><%= @b.boat_name  rescue []|| Name %></td>
<td><%= @b.boat_type   rescue [] %></td>
<td><%= @b.boat_class  rescue [] %></td>
<td><%= @b.sail_number rescue []  %></td>
