

<%= "listHL" %><br/>

Number of Payments <%= @pays.size%><br/>

<table>
 <th>Amount</th> <th>Mtype</th> <th>Last Name</th> <th>First Name</th> <th>Date Lodged</th>
<%@pays.each do |p| %>
    <% n = p.member.people[0]%>
   <tr>
     <td><%= p.amount%></td><td> <%= p.mtype%></td><td><%= n.last_name %></td><td><%= n.first_name %></td><td><%= p.date_lodged%></td>
  </tr>
<% end %>
</table>