<%#
# To change this template, choose Tools | Templates
# and open the template in the editor.
%>

<%= "list2008" %><br/>

Number of Payments <%= @ps.size%><br/>

<table>
 <th>Amount</th>  <th>Last Name</th> <th>First Name</th><th>Mtype</th> <th>Date Lodged</th>
<%@ps.each do |p| %>
    <tr>
     <td><%= p[0] %> </td><td> <%= p[1] %> </td><td> <%= p[2] %> </td><td> <%= p[3] %> </td><td> <%= p[4] %></td>
  </tr>
<% end %>
</table>