<h1>New Payment</h1>
<%= link_to person_path(@payment.member.main_member), :class => 'btn btn-default' do %>
  <span class="glyphicon glyphicon-list-alt"></span>
   Back
<% end %>

<%= render :partial => 'form' %>

