<h1>Editing barcard</h1>



<% @pid = (params[:pid])%>

<%= form_tag :action => 'update', :pid => @pid , :mid => @mid  do %>
<%= form_for(@peoplebarcard) do |f| %>
		
<%= render :partial => "form", :locals => { :button_label => "Update", :peoplebarcards => @peoplebarcard } %> 
	  
	
<%= link_to 'Back', :controller => 'people', :action => 'edit', :id => @pid %>
	 
	<% end %>
<% end %>




