.pretty_button {
  font-size: 13px;
  padding: 5px 10px 6px 10px;
  font-weight: bold;
  border: 1px solid #466A98;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  color: #FFF;
  background: #386FB2;
  background: -webkit-gradient(linear, left top, left bottom, from(#67B0EF), to(#2B5EA4));
  background: -moz-linear-gradient(top,  #67B0EF,  #2B5EA4);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#67B0EF', endColorstr='#2B5EA4');
 
  text-decoration: none;
  text-shadow: 0 -1px 0 #036;
}

.pretty_button:hover {
  text-decoration: none;
}

.read_button {
  font-size: 13px;
  padding: 5px 10px 6px 10px;
  font-weight: bold;
  border: 1px solid #6F2C26;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  color: #FFF;
  background: #A23831;
  background: -webkit-gradient(linear, left top, left bottom, from(#F98179), to(#A23831));
  background: -moz-linear-gradient(top,  #F98179,  #A23831);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#F98179', endColorstr='#A23831');
  text-decoration: none;
  text-shadow: 0 -1px 0 #661514;
}

.read_button:hover {
  text-decoration: none;
}

.pdf_button {
  font-size: 10px;
  padding: 0px 2px 0px 2px;
  font-weight: bold;
  border: 1px solid #6F2C26;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  color: #FFF;
  background: #A23831;
  background: -webkit-gradient(linear, left top, left bottom, from(#F98179), to(#A23831));
  background: -moz-linear-gradient(top,  #F98179,  #A23831);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#F98179', endColorstr='#A23831');

  text-decoration: none;
  text-shadow: 0 -1px 0 #661514;
}

.pdf_button:hover {
  text-decoration: none;
}

