//ref http://railsapps.github.io/twitter-bootstrap-rails.html
//
// import the CSS framework
@import "bootstrap";

// make all images responsive by default
img {
  @extend .img-responsive;
  margin: 0 auto;
  }
// override for the 'Home' navigation link
.navbar-brand {
  font-size: inherit;
  }
body {  padding-top: 60px; } 
@media (max-width: 980px) { body { padding-top: 5;  } }
.navbar {
     padding-bottom: 1px;
 }
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
  height: 30px;
  margin-bottom: 0px;
}