<div class="page-header">
  <%= link_to person_path(@boat.owner) + '#tabs-5', :class => 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>

<h1>Boats </h1>
<%#= form_tag :action => 'update'  do
%>
  <%# form_for(@boat) do |f|
%>
    <%= render :partial => "form", :locals => { :button_label => "Update", :boat => @boat } %>


  <%# end %>
<%# end %>

