<h1>New Boat</h1>
<% member_id = params[:member_id] %>
  <%= form_tag :action => 'create',:member_id => member_id do %>
    <%= render :partial => "form", :locals => { :button_label => "Create", :boat => @boat , :member_id => member_id } %>
  <% end %>
<%= link_to 'Back', person_path(@boat.owner)+'#tabs-5' %>
