<h1>New Boat</h1>


<% @mid = (params[:mid])%>
<% @pid = (params[:pid])%>

<%= form_tag :action => 'create',:mid => @mid, :pid => @pid do %>


<%= render :partial => "form", :locals => { :button_label => "Create", :boat => @boat , :mid=> @mid  } %> 

<% end%>



<%= link_to 'Back', :controller => 'people', :action => 'edit', :id => @pid %>



 

