<a href="#" class="dropdown-toggle" data-toggle="dropdown">Configuration <b class="caret"></b></a>
<ul class="dropdown-menu">
  <li><a href="#"> <%= link_to "Member Classes" , privileges_path %> </a> </li>
  <li class="divider"></li>
  <li><a href="#"><%= link_to "Subscriptions" , subscriptions_path %></a></li>
  <li class="divider"></li>
  <li><a href="#">One more separated link</a></li>
</ul>